body{background: #e4f7fd; padding-bottom: 80px;}

header{padding: 30px 0;}
h1{text-align: center; font-size:24px; font-weight:600}
main{background: #edf9ff; max-width:500px; margin: 0 auto; box-shadow: 1px 1px 5px rgba(0,0,0,.3); border-radius:5px; padding: 30px 15px;}
main h2{font-size:18px; font-weight:600; margin-bottom: 20px;}

section+section{margin-top: 15px;}

form li+li{margin-top: 15px;}
form label{font-size:1rem; display: block; margin-bottom: 5px;}
form input[type="text"], input[type="email"], input[type="tel"], select{border:1px solid #ababab; border-radius:3px; display: block; width: 100%; height: 28px; line-height: 28px; padding: 0 .5rem; background: #fff; font-size:1rem}
form textarea{border:1px solid #ababab; background: #fff;display: block; width: 100%; resize: none; border-radius:3px; line-height: 1.6; padding: 5px .5rem; overflow-y: auto}

.inline-control label{display: inline-block;}

.inline-control + li{margin-top: 5px;}

/* 상대적인 비율을 나타낼 때 em & rem 이 있습니다. 둘 다 비율을 나타내는 요소인데
em은 부모요소를 기준으로 설정하고 & rem은 문서 전체를 기준으로 비율을 설정합니다

div --> p   div 태그 글자가 8px인 경우 margin: 2em 은 8*2=16px가 됩니다
반면 margin: 2rem; 은 문서 전체의 폰트 기본 크기인 16px를 기준으로 16*2=32px 가 됩니다 */


select{appearance: auto;}
#form-actions{display: block; text-align: right;}
#form-actions button{ font-size:1rem; border-radius:3px; padding: .5rem;border:1px solid #070157; min-width:60px; text-align: center;}
#form-actions .btn-empty{ background: #fff; color:#070157;}
#form-actions .btn-filled{background: #070157; color:#fff;}